<div class="attack-outer">
<!--    <div *ngIf="listOfPossibleAttacks && listOfPossibleAttacks.length">-->
<!--        <mat-radio-group [formControl]="attacksControl" aria-label="Варианты атаки">-->
<!--            <mat-radio-button-->
<!--                    *ngFor="let attackOption of listOfPossibleAttacks"-->
<!--                    (change)="changeAttack($event)"-->
<!--                    [value]="attackOption"-->
<!--            >-->
<!--                {{ attackOption.hit ? 'Ударить по' : '' }}-->
<!--                {{ attackOption.spell ? 'Наложить «' + attackOption.spell.spellName + '» на' : '' }}-->
<!--                {{ attackOption.spell?.target === 'self' ? 'себя' : getEnemyName(attackOption.target) }}-->
<!--            </mat-radio-button>-->
<!--        </mat-radio-group>-->
<!--    </div>-->
</div>
