<div class="heroes-box">
    <div class="heroes-box-inner" *ngIf="character">
        <div
            class="hero-image"
            [class]="character.slug"
        >
            <div class="hp-indicator">
                <div
                    class="hp-current"
                    [style]="{ height: (character.hp / character.inheritedHp * 100) + '%' }"
                ></div>
            </div>
            <div class="hero-name">
                {{ character.name }}
                <span *ngIf="party">({{ party }})</span>
            </div>
            <ng-content></ng-content>
        </div>
    </div>
</div>
