<div class="heroes-box">
<!--    <div class="heroes-box-inner" *ngIf="character">-->
<!--        <div-->
<!--            class="hero-image"-->
<!--            [class]="character.slug"-->
<!--        >-->
<!--            <div class="hp-indicator">-->
<!--                <div-->
<!--                    class="hp-current"-->
<!--                    [style]="{ height: (character.currentData.hp / character.inheritedData.hp * 100) + '%' }"-->
<!--                ></div>-->
<!--            </div>-->
<!--            <div class="hero-name">-->
<!--                {{ character.self }}-->
<!--                ({{ party }})-->
<!--            </div>-->
<!--            <ng-content></ng-content>-->
<!--        </div>-->
<!--    </div>-->
</div>
