:host {
  max-width: 400px;
  width: 50%;
}

.hero-image {
  position: relative;
  width: 100%;
  height: 500px;
  background-size: cover;
  transition: filter .5s, border .5s;
  cursor: pointer;
  padding: 1px;
  border: transparent 3px solid;

  .hero-name {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 36px;
    line-height: 36px;
    font-size: 22px;
    color: #fff;
    font-weight: bold;
    text-align: center;
  }

  &.nerzhul {
    background: url(../../../assets/images/ner-zhul.png) no-repeat 50% 50%;
  }

  &.guldan {
    background: url(../../../assets/images/gul-dan.jpg) no-repeat 50% 50%;
  }
}

.hp-indicator {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 20px;
  background: darkred;
  color: #fff;

  .hp-current {
    position: absolute;
    height: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: forestgreen;
    border-top: 1px solid #fff;
  }
}