<div class="outer outer-padding">
    <form [formGroup]="form">

        <p class="centered">Раунд {{ turnNumber }}</p>
        <div class="heroes-box">
            <div class="heroes-box-inner" *ngIf="playerCharacter && cpuCharacter">
                <div class="party player-s-party">
                    <div class="main-hero">
                        <app-character-card
                                [character]="playerCharacter"
                                [party]="'Вы'"
                        >
                            <div class="attack-console">
                                <form [formGroup]="form">
                                    <!--                            <app-attack-->
                                    <!--                                    formControlName="playerAttacksControl"-->
                                    <!--                                    [attackVectors]="attackService.playersAvailableAttackVectors"-->
                                    <!--                                    [allEntities]="allEntities"-->
                                    <!--                                    [playerCharacter]="playerCharacter$ | async"-->
                                    <!--                            ></app-attack>-->
                                </form>
                            </div>
                        </app-character-card>

                        <div class="hero-data player">
                            <div class="parameter hp">
                                HP: {{ playerCharacter.hp | round:2 }} / {{ playerCharacter.inheritedHp | round:2 }}
                            </div>
                            <div class="parameter dps">DPS:  {{ playerCharacter.dps | round:2 }}</div>
                            <div class="parameter crit">Crit:  {{ playerCharacter.crit * 100 | round:2 }}%</div>
                        </div>
                    </div>
                    <div class="beasts">

                    </div>
                </div>

                <div class="party cpu-s-party">
                    <div class="main-hero">
                        <app-character-card
                                [character]="cpuCharacter"
                                [party]="'CPU'"
                        ></app-character-card>

                        <div class="hero-data cpu">
                            <div class="parameter hp">
                                HP: {{ cpuCharacter.hp | round:2 }} / {{ cpuCharacter.inheritedHp | round:2 }}
                            </div>
                            <div class="parameter dps">DPS:  {{ cpuCharacter.dps | round:2 }}</div>
                            <div class="parameter crit">Crit:  {{ cpuCharacter.crit * 100 | round:2 }}% </div>
                        </div>
                    </div>
                    <div class="beasts">

                    </div>
                </div>
            </div>
        </div>

        <p class="centered">
<!--            <button-->
<!--                    mat-raised-button-->
<!--                    color="accent"-->
<!--                    (click)="turnRound()"-->
<!--                    [disabled]="!playerAttack"-->
<!--            >-->
<!--                Сделать ход-->
<!--            </button>-->
        </p>
    </form>
</div>
