.heroes-box-inner {
  display: flex;
  justify-content: space-between;
}

.party {
  width: 400px;
}

.attack-console {
  position: absolute;
  left: 23px;
  bottom: 40px;
  background: rgba(255, 255, 255, .6);
  padding: 16px 12px;
  max-width: calc(100% - 23px);
}
